@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
}

.header .nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    background-color: #FFFFFF;
    border: 2px solid black;
}

.nav ul {
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav ul li {
    list-style: none;;
}

.nav ul li a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500px;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0%;
    color: #000000;
}

.nav button, .banner-button .button-one, .banner-button .button-two {
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    font-weight: 600px;
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0%;
    cursor: pointer;
}

.banner {
    width: 100%;
    height: 674px;
    margin: 0 auto;
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 120px 134px 120px;
}

.banner .content {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner .content .alert {
    width: 230px;
    background-color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 1000px;
    opacity: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}

.banner .content .alert div {
    width: 16px;
    height: 16px;
    background-color: rgba(70,145,101,0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .content .alert div div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(70,145,101,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .content .alert div div div {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #469165;
    opacity: 100%;
}

.banner .content .alert p {
    font-family: "Inter", sans-serif;
    font-weight: 500px;
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0%;
    color: #469165;
}

.banner .content h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700px;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0%;
    margin-bottom: 16px;
}

.banner .content h1 .part-one {
    color: #FFFFFF;
}

.banner .content h1 .part-two {
    color: #469165;
}

.banner .content .description {
    font-family: "Inter", sans-serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.banner-button {
    display: flex;
    gap: 16px;
    align-items: center;
}

.banner-button .button-two {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.banner-button .button-two i {
    margin-right: 10px;
}

.banner-button .button-one i {
    margin-left: 10px;
}
